* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #333;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

input,
textarea,
select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #444;
  color: white;

  &:focus {
    outline: none;
    border-color: #666;
  }
}

ul {
  list-style: none;
  text-align: justify;

  li {
    position: relative;
    cursor: pointer;
    /* gap: 10px; */
    /* display: flex; */
    justify-content: space-between;
    padding: 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid #444;
    border-radius: 5px;

    .buttons {
      opacity: 0;
      display: flex;
      gap: 14px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #444;
      padding: 4px 10px;

      button {
        border-radius: 50%;
        padding: 5px;

        svg {
          width: 18px;
          height: 18px;
        }

        &[name="remove"] {
          background-color: rgb(255, 99, 71);

          &:hover {
            background-color: rgb(255, 69, 0);
          }
        }

        &[name="merge"] {
          background-color: rgb(0, 191, 255);

          &:hover {
            background-color: rgb(0, 171, 255);
          }
        }
      }
    }

    &:hover {
      background-color: #444;


      .buttons {
        opacity: 1;
      }
    }

    &.active {
      /* beault blue */
      border: 1px solid #007bff;
    }
  }
}


@media (min-width: 768px) {
  .container {
    border-radius: 5px;
    margin: 50px auto !important;
    margin-bottom: 150px;
  }

  body {
    background-color: #222;
  }
}

[hidden],
.hide {
  display: none;
}

.container {
  margin: 0 auto;

  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  padding: 10px;
  background-color: #333;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  padding: 5px;
  background-color: #333;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

hr {
  border: 1px solid #444;
  margin: 5px 10px;
}

.tabcontent {
  display: none;

  &.active {
    display: block;
  }
}

button {
  cursor: pointer;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: #666;
  }
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}